<h2>Add New Product</h2>

<form (ngSubmit)="onSubmit()" #productForm="ngForm">
  <div class="form-group">
    <label for="name">Product Name</label>
    <input
      type="text"
      id="name"
      [(ngModel)]="product.name"
      name="name"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="description">Product Description</label>
    <input
      type="text"
      id="description"
      [(ngModel)]="product.description"
      name="description"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="number"
      id="price"
      [(ngModel)]="product.price"
      name="price"
      required
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="units">Units</label>
    <input
      type="number"
      id="units"
      [(ngModel)]="product.units"
      name="units"
      required
      class="form-control"
    />
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="!productForm.form.valid"
  >
    Add Product
  </button>
  <div class="add-product-container">
    <button type="button" (click)="onGoBack()" class="btn cancel-btn">
      GO BACK TO PRODUCTS
    </button>
  </div>
</form>

<p *ngIf="message" class="message">{{ message }}</p>
