<h2>All Products</h2>

<div
  *ngIf="products.length > 0; else noProducts"
  class="product-table-container"
>
  <table class="product-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Units</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency }}</td>
        <td>{{ product.units }}</td>
        <td>
          <button (click)="onUpdateProduct(product)" class="btn update-btn">
            Update
          </button>
          <button (click)="onDeleteProduct(product._id)" class="btn delete-btn">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Update Form -->
<div *ngIf="showUpdateForm" class="update-form-container">
  <h3>Update Product</h3>
  <form (ngSubmit)="onSubmitUpdate()">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="selectedProduct.name"
        name="name"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input
        type="text"
        id="description"
        [(ngModel)]="selectedProduct.description"
        name="description"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        [(ngModel)]="selectedProduct.price"
        name="price"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="units">Units</label>
      <input
        type="number"
        id="units"
        [(ngModel)]="selectedProduct.units"
        name="units"
        class="form-control"
      />
    </div>
    <button type="submit" class="btn submit-btn">Submit Update</button>
    <button type="button" (click)="cancelUpdate()" class="btn cancel-btn">
      Cancel
    </button>
  </form>
</div>

<div class="add-product-container">
  <button type="button" (click)="navigatetoAdd()" class="btn cancel-btn">
    ADD PRODUCT
  </button>
</div>

<ng-template #noProducts>
  <p>No products available</p>
</ng-template>
